.nbody{
  padding-top: 15.5%;
  margin: auto;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/purebgp.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;
}

.logobox {
  display: flex;
  padding:0 30%;
}
.logo{
  border-radius: 10%;
  width: 150px;
}
#denglu{
  margin-top: 60%;
  margin-left: 40%;
}
#zhuce{
  margin-top: 20%;
  margin-left: 40%;
}